body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.messenger {
  width: 300px;
  margin: 50px auto;
}

#messages {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  background: #222;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 6px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #1c1c1c;
  color: white;
  border: 1px solid #333;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}
